*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    
}
body{
    background: rgb(38, 38, 39);
}

.contenedor{
    margin:0 auto;
    padding: 0;
    background: rgb(57, 63, 63);
    width: 100%;
    height: 100%;
    max-height:1685px ;
    max-width: 1400px;
    display: grid;
    text-align: center;
    grid-template-columns: repeat(4, auto);
    grid-template-columns: 20px 302px 400px 351px;
    
}

header, .contenedor-banner-marca, .formulario-contenedor,  footer{
    border: 1px solid rgb(54, 52, 52);
    padding: 40px;
    font-size: 20px;
    background: rgb(58, 54, 92);
}

header, .contenedor-banner-marca, .formulario-contenedor , footer{
grid-column-start: 1;
grid-column-end: 6;

}


/* modal */

.contenedor-modal{
    opacity: 0;
    visibility: hidden;
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 100vh;
    top:0;
    left: 0;
    background: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal{
    width: 40%;
    height: 45%;
    background: #fff;
    position: relative;
    transition: transform 1s;
    transform: translateY(0%);
   border-radius: 10px;
}

.modal-c{
    transform: translateY(-300%);
}

.close{
    position: absolute;
    top: 5px;
    right: 5px;
    display: inline-block;
    width: 20px;
    height: 20px;
    background: rgb(223, 69, 69);
    border-radius: 50%;
    line-height: 20px;
    cursor: pointer;
    
}

.contenedor-modal a{
    color: rgb(13, 13, 240);
}


input, .mail{
    margin-top: 40px;
}








/*-----------------*/

 header{
    background: rgb(253, 251, 251);
    width: 100%;

}
.contenedor-banner-marca{
    background: rgb(241, 238, 238);
   
}




/*----contenido header----*/

header{
    padding: 6px;
    margin: 0;
    font-size: small;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    
}


header .icon{
    margin-left: 3px;
}


.contacto{
    background: white;
    width: 70%;
    text-align: left;
    color:black;
    display:flex;
    justify-content: flex-start;
    margin-right: 300px;
    
}


  .i-a:hover{
color: red;
}

.i:hover{
    color: red;
}


.usuario{
    background: white;
    width: 5%;
    
    
}

.nuevo-usuario{
    background: white;
    width: 7%;
    
    
}
 .nuevo-usuario, .usuario, a{
    list-style: none;
    text-decoration: none;
    color: black;
    display: block;
}

/*-----------------------contenedor-banner-marca(isologotipo-nav)-------*/

.contenedor-banner-marca{
    display: flex;
    padding: 0px;
    width: 100%;
    align-content: space-between;
    background: white;
    height: 100%;
    
}
.contenedor-banner-marca img{
    width: 15%;
    height: 87%;
    margin: 5px;
}
.banner{
    
    width: 80%;
    height: 100%;
    padding: 10px;
   background: white;
}
.marca{
    margin: 3px;
    padding: 5px;
    width: 25%;
    height: 100%;
    
}

/*------nav- menu----*/

nav{
    padding: 50px;
    background: white;
}
nav ul{
    list-style: none;  
    background: white;
    text-align: center;
    
}
nav ul li{
    background: white;
    display: inline-block;
    font-size: x-large;
    padding: 0px;
    height: 40px;
    margin-left: 10px;
    
}

nav ul li:hover a{
    background: red;
    color: yellow;
}
nav ul li a{
    text-decoration: none;
    color:black;
    padding: 6px;
}




/*-------------------formulario----*/
.formulario-contenedor{
    display: flex;
    justify-content: center;
    align-content: center;
    background: white;
    width: 100%;
    height:900px;

}


.informacion{
    width: 100%;
    text-align: left;
    background: white;
    height: 350px;
    align-content: left;
}
input{
    margin: 10px;
    padding: 10px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
-webkit-appearance: none;
margin: 0;
}

input[type=number] { -moz-appearance:textfield; }

button{
    width: 70px;
    height: 50px;
    color: red;
    background: yellow;
    margin-left: 300px;
}


/*---footer---*/
.pagos .icon{
    width: 70px;
    height: 90px;
    margin: 2px;
}

.redes .icon{
width: 50px;
height: 60px;
}

footer{
    background: white;
    
    padding: 0px;
} 

footer{
    display: flex;
    flex-wrap:wrap;
    padding: 0px;
}

.nav2{
    background: white;
    width: 33.3%;
    padding: 25px;
    text-align: left;
}

.redes{
    background: white;
    width:33.2%;
    display: flex;
    align-items: center;
    justify-content: center;
  
}

 
.pagos, .medios-pago{
    width: 100%;
    background: white;
    margin: 2px;
    
}
.pagos{
    background: white;
    width: 33%;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    text-align: center;
  
    
}
.pagos div{
    background: white;
    margin: 3px;
    border: solid 1px white;
    height: 40%;
    width: 20%;
    padding: 0px;
}

.nav2 .nav-2 a{
    margin: 2px;
}
footer ul li a{
    background: white;
    display:block;
    text-decoration: none;
    font-size: large;
}
footer li{
    list-style: none;
}

.redes div{
    background:white;
    margin: 3px;
    margin-top: 70px;
    border: solid 1px white;
    height:30%;
    width: 12%;
}

footer .info{
    width: 100%;
    background: white;
    padding: 15px;
    font-size: x-small;
    
}

.info div{
    display: flex;
    justify-content: center;
    width: 100%;
    background: white;
    height: 2.5%;
    padding: 0px;
    position: absolute;
    
} 



/* responsive */

@media  screen and (min-device-width:768px) 
and (max-device-width:1024px) and (orientation:landscape)
  { main{
background: gray;      
  }
      nav{
      padding:60px;
}
nav ul{
    width: 900px;
    
}
nav ul li{
    margin-left: 0px;
    background: pink;
}
    
}